[2012-10-06 15:55] martinpengellyphillips opened #1 "Switch to font-awesome icons"
Switch to icons by http://fortawesome.github.com/Font-Awesome/. Benefits are they are vector based so scale well, can be coloured as normal text and at present offer a more comprehensive selection of icons for free.

[2012-10-06 16:30] martinpengellyphillips opened #2 "Style checkboxes and radio buttons"
Bootstrap seems to just leave these as is, so base a basic styling off of Claro theme.

[2012-10-06 16:34] martinpengellyphillips opened #3 "Style progress bars."
Add styling for progress bars. Use animated striped for indeterminate mode.

[2012-10-06 16:43] martinpengellyphillips opened #4 "Style sliders"
Bootstrap doesn't have sliders so perhaps base off of progress bars. Also, take a look at http://addyosmani.github.com/jquery-ui-bootstrap/ for inspiration.

[2012-10-06 22:45] #1 closed, assigned to martinpengellyphillips

[2012-10-06 22:46] #3 closed, assigned to martinpengellyphillips

[2012-10-07 11:23] martinpengellyphillips opened #5 "Reconnect data to filtering select"
Currently the filtering select widget doesn't display any data. Also, update any relevant styling once can see the dataset.

[2012-10-07 11:26] martinpengellyphillips opened #6 "Improve icon placeholder logic"
The existing logic is not comprehensive and does not work for dynamically created widgets. For example, see the calendar dropdown on the text inputs tab - it has no left/right arrows. Try to come up with a better solution, perhaps by wrapping the templated widget.

[2012-10-07 14:20] #2 closed, assigned to martinpengellyphillips

[2012-10-07 14:45] martinpengellyphillips opened #7 "Style Tree"
Need to set the tree icons (dijitFolderClosed, dijitFolderOpened etc) and hover/select colours.

[2012-10-07 14:56] martinpengellyphillips commented on #6
In addition, some nodes are manipulated post creation - such as Tree setting the dijitFolderOpened class. For this to work the existing node must be _replaced_ by the new node in such a way as to become the registered attach point.

[2012-10-09 07:30] martinpengellyphillips opened #8 "Improve calendar styling"
Try to achieve a more professional look than the quick styling currently in place.

[2012-10-09 07:53] #8 closed, assigned to martinpengellyphillips

[2012-10-10 08:53] #6 closed, assigned to martinpengellyphillips

[2012-10-10 20:22] rjamesnw opened #9 "Editor not working"
The editor is not showing any icons in chrome.

[2012-10-10 20:46] martinpengellyphillips commented on #9
Thanks for the report. Haven't styled the editor yet so it is not working in any browser. Will leave this open as reminder.

[2012-10-10 21:06] rjamesnw commented on #9
Ok.  Also great work thus far. ;)  Is DBootstrap  an actual “theme” that can be applied to  any existing Dojo/Dijit implementation, or would a lot of changes be required?

From: Martin Pengelly-Phillips [mailto:notifications@github.com]
Sent: October-10-12 4:46 PM
To: thesociable/dbootstrap
Cc: rjamesnw
Subject: Re: [dbootstrap] Edtior not working (#9)

Thanks for the report. Haven't styled the ed

[2012-10-10 21:20] martinpengellyphillips commented on #9
Cheers! It is implemented as an actual theme and the goal is to have it easy to switch to for an existing implementation.

[2012-10-11 18:15] martinpengellyphillips opened #10 "Extend TemplatedMixin prototype instead of redirecting module lookup"
Seems the builder isn't happy with the paths redirect as it complains about missing dependency "_OriginalTemplatedMixin". Instead just patch the prototype of the TemplatedMixin and ensure the patcher is required first before application load. See also http://dojo-toolkit.33424.n3.nabble.com/Build-issue-with-paths-swap-td3990378.html

[2012-10-11 20:53] #10 closed, assigned to martinpengellyphillips

[2012-10-11 21:42] martinpengellyphillips opened #11 "Add dgrid example and style"
Add an example dgrid (perhaps in a new tab) and add styling for a basic grid.

[2012-10-12 18:25] martinpengellyphillips commented on #7
Want to change the store to also show a leaf level icon for leaves.

[2012-10-14 12:25] martinpengellyphillips opened #12 "Standardise variables"
After basic theming is completed for all widgets in gallery, make a pass over the Stylus files and try to standardise the variables used for borders, colours etc. A good start would be to set in variables.styl baseBorder, baseBackgroundColour etc and assign the other variables to those as appropriate. In addition try to use variables where some values are currently hard coded to improve flexibilit

[2012-10-15 20:50] #4 closed, assigned to martinpengellyphillips

[2012-10-15 20:50] #9 closed, assigned to martinpengellyphillips

[2012-10-21 12:31] #5 closed, assigned to martinpengellyphillips

[2012-10-21 12:32] martinpengellyphillips opened #13 "Style form select"
The dijit.form.Select control needs styling.

[2012-10-21 17:00] #13 closed, assigned to martinpengellyphillips

[2012-11-06 21:45] martinpengellyphillips opened #14 "Add integration guide"
Add a brief guide on integrating the theme with an existing Dojo project.

[2012-11-14 14:30] ghost opened #15 "Padding on text Input Widgets affecting border in webkit browsers"
The widgets are styled with the following:
  .bootstrap .dijitInputContainer { padding: 6px 6px; }

This is causing the bottom border to shift down which leaves a space at the bottom of the widget trigger. This was tested and verify on the Mac with the following browsers: Chrome (latest) and Safari 5.1.7.

This looked fine with Firefox and Opera 12.

[2012-11-14 15:08] ghost opened #16 "Errors using IE8 on Windows 7."
The page does load. Below is the error dump from IE 8.

Webpage error details

User Agent: Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 6.1; Trident/4.0; SLCC2; .NET CLR 2.0.50727; .NET CLR 3.5.30729; .NET CLR 3.0.30729; Media Center PC 6.0; .NET4.0C; .NET4.0E)
Timestamp: Wed, 14 Nov 2012 15:08:47 UTC

Message: 'undefined' is null or not an object
Line: 12
Char: 183
Code: 0
URI: http://thesociabl

[2012-11-17 11:38] martinpengellyphillips commented on #16
Thanks for the report. Unfortunately, I don't have that operating system or browser so might be hard for me to track down.

[2012-11-17 11:39] martinpengellyphillips commented on #15
Thanks for the report. I'll take a look at how to fix this.

[2012-12-02 05:00] bigfish opened #18 "stylus error"
After downloading / cloning latest dev version (nov 26, git commit: 173725f36354e4ffd94e10db998fc8e9e52dca27)
and running the build, I get this error from stylus:

/usr/local/lib/node_modules/stylus/bin/stylus:516
              throw err;
                    ^
Error: build/dbootstrap/theme/dbootstrap.styl:48
   44|         text-align: center;
   45|         vertical-align: middle;
   46|     }

[2012-12-02 13:54] martinpengellyphillips commented on #18
I've been running it against an older version of Stylus (0.29.0). Let me check out that later version and see what the issue is.

[2012-12-02 15:02] martinpengellyphillips commented on #18
Ok, think I have fixed this. Please pull latest master and let me know if it solves the issue for you.

[2012-12-02 15:46] bigfish commented on #18
That does the trick, thanks :) Pulled latest, rebuilt, and no errors, css generated successfully.

[2012-12-02 15:46] #18 closed, assigned to martinpengellyphillips

[2012-12-04 02:01] hamishcampbell opened #20 "dijit/Toolbar should render as a button group"
Ideally, `dijit/Toolbar` should behave like a Button Groups:

http://twitter.github.com/bootstrap/components.html#buttonGroups

[2012-12-04 03:10] SteveEisner opened #21 "bad path in Gallery.html"
Thanks so much for your work on this theme. I've just installed it and am playing around & hope to give it some use!

Meanwhile, here's a really small issue:  in your dbootstrap/Gallery.html, references to themes/claro/document.css should be "dijit/themes/claro/document.css" rather than a relative path "../themes/claro/document.css"

This supports those of us who have dojo/dijit/etc off in another

[2012-12-04 03:21] SteveEisner commented on #21
Actually, I guess this isn't exactly true.  Looks like stylesheets aren't being loaded through a path-aware require... they're just standard relative paths. I'm not sure if there's a path-invariant way to fix this in the Gallery.html!

[2012-12-05 21:18] martinpengellyphillips commented on #21
Yeah, this looks like a copy and paste error (I took a lot of the template code directly from the official theme tester). Most likely I can remove that css request altogether.

Thanks for spotting it!

[2012-12-05 21:20] martinpengellyphillips commented on #20
Ah, good point. I'll take a look.

[2012-12-05 21:43] martinpengellyphillips commented on #21
I've removed the bad paths. Let me know if you find any others not working.

[2012-12-05 21:43] #21 closed, assigned to nobody

[2012-12-17 14:15] mathewrapid opened #23 "Non-existing dialog2"
Clicking the "slow loading modal dialog" link at http://thesociable.github.com/dbootstrap/ causes a
"Uncaught TypeError: Cannot call method 'show' of undefined"

dijit.byId('dialog2') returns null.

[2012-12-17 19:53] martinpengellyphillips commented on #23
I removed that dialog implementation as wanted to allow the demo app to run without a 'server'. I'll either remove the button for that dropdown altogether or add in a simple serve of the file required for the dynamic load.

[2012-12-23 12:06] Mennodebrie commented on #14
This would be very helpful, I really like Bootstrap and some pointers on how to use this theme in our Dojo project would be greatly appreciated.

[2012-12-26 10:58] martinpengellyphillips commented on #14
Cool - I'll tackle this next.

[2012-12-26 11:00] martinpengellyphillips commented on #15
Hmmm, this is proving tricky. I might have to rethink how those widgets css are implemented. Any pointers from anyone appreciated.

[2012-12-30 09:11] martinpengellyphillips commented on #15
Fixed in #24.

[2012-12-30 09:11] #15 closed, assigned to martinpengellyphillips

[2013-02-07 18:51] martinpengellyphillips commented on #14
Please take a look at https://github.com/thesociable/dbootstrap/pull/26 and let me know if it helps before I merge.

[2013-02-11 22:14] #14 closed, assigned to martinpengellyphillips

[2013-02-12 18:56] martinpengellyphillips opened #27 "Fix README formatting"
The README.rst is not formatting correctly (for example when viewed on Github). Fix this.

[2013-02-12 19:05] #27 closed, assigned to martinpengellyphillips

[2013-03-01 02:22] brycefisher opened #29 "make build script for windows"
This is such a cool project. Sadly, I'm unable to get the build.py script to work on my WIndows Vista box with NodeJS / Stylus / Python 2.7.3 installed.
### Steps to reproduce:

1) git clone recursively
2) cd dbootstrap
3) build.py demo
### Error:

[code]

If I copy and paste the path, the index.styl file is in the correct place. Also, if I copy and paste the whole stylus command, that works as we

[2013-03-01 09:24] martinpengellyphillips commented on #29
Thanks for the report. Seems like the subprocess call is not able to find stylus. I don't have access to a Windows machine currently so might have to work on this blind for a bit.

[2013-03-04 16:31] DavidSpriggs commented on #29
I had the same issue (building theme) and found that if I added shell=True to the subprocess.Popen calls I got past the stylus errors. Now there are node errors that seem to be path related:
![image](https://f.cloud.github.com/assets/661156/217357/4df7d788-84e7-11e2-9ce4-09f1fdd28a21.png)

If you run the node commands directly you get this:
![image](https://f.cloud.github.com/assets/661156/217370/

[2013-03-04 17:59] martinpengellyphillips commented on #29
Thanks for the extra information. I'll try and grab a Windows machine to lock this down soon. In the meantime, have followed your suggestion and uploaded a tar of the built theme directory structure to http://thesociable.github.com/dbootstrap/download/dbootstrap.tar.gz  Try downloading and decompressing that to see if it works for you until the Windows build issue is sorted.

[2013-03-07 14:23] hdd commented on #7
Hi Martin, I love this theme, and it seems working well, but it would be nice to have a default icon for the tree leaves, in the claro are represented by a file icon. At the moment the leaf doesn't get any icon.

Thanks!

[2013-03-13 12:30] martinpengellyphillips commented on #7
Thanks Lorenzo - I'll take a look at this in a bit, but it is low priority compared to the refactor and windows build issues. Feel free to submit a pull request if you have an approach you think will work.

[2013-03-14 18:38] hdd commented on #7
Good point,
there's a pull request available here : https://github.com/thesociable/dbootstrap/pull/30

[2013-03-15 17:04] hdd opened #31 "strip console none if build with debug"
It would be nice to have the build option stripConsole set to 'none' , when the theme is build with -v debug.

[2013-03-15 17:42] hdd commented on #29
I don't know if it's related , but this might be useful : http://stackoverflow.com/questions/13231168/how-to-do-a-dojo-build-using-nodejs

[2013-03-17 11:04] martinpengellyphillips commented on #31
The -v debug just means output more information about the build rather than build a debug version. However, the ability to build a debug version for testing could definitely be useful. The simplest way to do this might be to allow arbitrary config arguments to be passed after the 'build' statement on the command line - let me know if that would help?

[2013-03-17 18:51] hdd commented on #31
Seems a sensible solution but just for who knows the dojo build system.
Still a worth having feature.

[2013-03-21 11:24] martinpengellyphillips commented on #29
The issue is similar, but in this case I suspect it is actually Python subprocess that cannot find nodejs in the env.

[2013-03-25 21:19] #7 closed, assigned to martinpengellyphillips

[2013-04-01 19:38] billdwhite opened #34 "Styles are being evaluated multiple times"
I'm seeing the same styles being evaluated by Chrome (and all other browsers I would assume) when I look at the style inheritance for anything I theme with dbootstrap.  I tested this by looking the styles applied to your online demo and the same issue appears there too. Basically it appears that it runs through the same CSS class declarations multiple times. (see attached screenshot). I would assu

[2013-04-02 16:19] martinpengellyphillips commented on #29
Finally got hold of a windows machine so can dig into this properly.

[2013-04-02 16:22] martinpengellyphillips commented on #34
Good call. I was bundling the css load with the javascript under the impression it might make things easier for those using the system, but it does lead to this issue (as well as reduce control of css ordering if you want to override things)! I'll move it out and update the docs to explain that you have to include the generated css stylesheet manually and hopefully that will, as you say, make this

[2013-04-02 23:53] billdwhite commented on #34
Investigating this issue further ( _I am using dbootstrap on a project and this is a show-stopper for me at the moment_ ), I found that if I just run a simple build, the resulting **dbootstrap.css** file contains duplicate class definitions.

For example, just run a simple build using the "./build.py -v debug theme" command and then search the resulting dbootstrap.css file for this:

**.dbootstrap

[2013-04-04 23:59] martinpengellyphillips commented on #34
Ah - I see what you mean now. Ignore my previous comment as it is related to a different issue.

The duplicate entries seem to be down to left-over import statements. For example, Common imports Button creating duplicate Button entries in the output. I'll take a look at cleaning up all the import statements to reduce duplicates.

[2013-04-05 11:58] martinpengellyphillips opened #35 "Avoid loading css through Javascript"
Loading the themes CSS through the Javascript possibly complicates things for those trying to override certain styles as the priority of the css cannot be determined. See if just loading it by adding explicitly is viable and update docs to reflect this where appropriate.

[2013-04-05 12:08] martinpengellyphillips commented on #34
Please try out branch 34_duplicate_style_rules and let me know if it solves the issue for you (then I'll merge to master).

[2013-04-05 15:59] billdwhite commented on #34
Excellent.  I did a build using the 34_duplicate_style_rules branch and it appears to have removed the duplicates.  Please feel free to merge into master.  Once that's done I'll check out the master and verify that it is still working.  Thanks for the quick fix.

[2013-04-05 16:07] martinpengellyphillips commented on #34
Thanks for checking - have now merged to master. Check it out and let me know if this issue is good to close.

[2013-04-05 18:06] jorgevinagre opened #37 "Toolbar does not 'invert' on IE9"
The toolbar with inverse css does not stay  inverted. Even in the demo page.

[2013-04-05 21:31] #37 closed, assigned to nobody

[2013-04-06 02:01] billdwhite commented on #34
I did a build from master and the css seems fixed.  I do get an error now during my build's layering process because it complains that icon_support.js and package.js are not found; I fixed it by manually copying them over to the build folder where the layering is taking place.  Did you modify how those files get used during the build.py execution? If you find nothing similar on your end, then I th

[2013-04-06 12:29] martinpengellyphillips commented on #34
Nothing should have changed with those files. I did a quick test here (building on Ubuntu) and it seems fine so will close this for now. Please feel free to raise a new issue for your build if you discover the problem is in dbootstrap.

[2013-04-06 12:29] #34 closed, assigned to martinpengellyphillips

[2013-04-08 22:39] jorgevinagre opened #38 "Windows 7, IE8,IE9 inversed menu ans slider"
Windows 7, IE<=9 inversed menu

There is a issue(in the test page and seen by me) with the menu widget, wich
sould be inversed but the background of the menu widget is white just the same on IE8 and IE9(not IE 10)

I have a prebuilt version made by (on stackoverflow) because i use windows.
If you know any workaround on this please tell me.

To see this just open the demo page with either IE8 or IE

[2013-04-09 12:38] eiswind opened #39 "Trying to build (linux)"
Hi, I am a usual backend coder, so I'm not so firm with all the fancy tools you are using. I installed node and stylus on my linux machine, but somehow it does not build
WARNING:dbootstrap.build.execute:Command stylus --include /home/thomas/projects/dbootstrap/source/nib/lib --include /home/thomas/projects/dbootstrap/source/dbootstrap/theme/dbootstrap /home/thomas/projects/dbootstrap/source/dboots

[2013-04-09 18:43] martinpengellyphillips commented on #39
Hey. Sorry to hear you are having trouble building the project. Can you try running the referenced command manually in the terminal and reply with the full output (if any)?

`stylus --include /home/thomas/projects/dbootstrap/source/nib/lib --include /home/thomas/projects/dbootstrap/source/dbootstrap/theme/dbootstrap /home/thomas/projects/dbootstrap/source/dbootstrap/theme/dbootstrap/index.styl`

A

[2013-04-10 05:30] eiswind commented on #39
Hey Martin, after some more investigation, I realized that something was broken with my node installation (I used ubuntu packages). After building node from source everything is fine.

Thanks! Now I'll try to integrate your theme with my prototype ...

[2013-04-10 05:30] #39 closed, assigned to nobody

[2013-04-10 14:40] eiswind opened #40 "main.js is trying to load ../when.js"
Thanks for pointing me out with my build problem. So here I go again. I still fail to make it work. It's building now, but I see that in main.js it tries to load ../when.js, which unfortunately fails. I found that the reference seem to come somewhere from dojo code, cause I did not see such refs in your code. Did you see something like that or is there just another bad error on my side with th bui

[2013-04-10 19:02] martinpengellyphillips commented on #40
Hmmm. I'm not seeing that my side. Can you send the commands you are issuing and the output so I can try to reproduce here?

[2013-04-10 19:03] martinpengellyphillips commented on #39
Ok, thanks for the followup - it's probably worth me adding a prerequisites section to the readme mentioning minimum versions to use.

[2013-04-10 19:08] martinpengellyphillips opened #41 "Note prerequisite packages and versions for build in readme"
Add to readme a section about required versions of packages for successful build. For example, Ubuntu's default nodejs package is too old to work correctly with the Dojo build system.

[2013-04-23 16:49] martinpengellyphillips commented on #38
Hey! I have recently got access to a Windows machine (normally on Linux) and will take a look. However, at present the goal is to target the latest versions of browsers only and then add support as needed for others. Of course, if other folks can contribute fixes for specific browsers then I am more than happy to merge those in.

[2013-04-25 14:43] martinpengellyphillips opened #42 "Use read only git path in readme clone instruction"
Replace the git clone instruction to point to the more typically used read only path.

[2013-04-25 14:44] #41 closed, assigned to martinpengellyphillips

[2013-04-25 14:54] #42 closed, assigned to martinpengellyphillips

[2013-04-26 18:46] gavinr opened #45 "Checkbox checkmark not visiable when container line-height is set"
When you're including a normal dijit/form/CheckBox, if you set a css line-height on the container, the checkmark symbol does not appear.

See the example:
http://jsfiddle.net/gavinr/cnWnL/

[2013-04-27 14:59] martinpengellyphillips commented on #45
I guess we could add an explicit line-height declaration to the checkbox to compensate.

[2013-04-30 09:55] ghost opened #46 "Bug or Mistake ? FilteringSelect / ComboBox not displayed correctly"
Hello,

I installed dbootstrap and everything is working fine except FilteringSelect / ComboBox and I can't understand why.

I followed the tutorial step by step and I still get this :
![2013-04-30 11 50 44](https://f.cloud.github.com/assets/2699904/443346/ccd5ef66-b17b-11e2-852c-ef265dd80c3d.png)

However if I compile the demo, it's working fine

Do you have any idea why ?
Thanks

[2013-05-01 10:00] martinpengellyphillips commented on #46
Hey! Sorry to hear you are having trouble getting this to work.

Are you trying to integrate into your project's build or are you just building the theme and using that in your project?

Also, what Operating System and Browser (including version) are you using?

[2013-05-02 06:38] ghost commented on #46
Hello,

There is a difference between the demo and default dojo, the html which is generated for the filtering select is different,
Your demo :

[code]

Dojo :

[code]

dbootstrap is included in the project build, Dojo 1.8.3, bug on every browser.
Thanks

Edit : I found a solution, dbootstrap needs to be put first in require, don't know why but it works now !

[2013-05-02 10:32] martinpengellyphillips commented on #46
Hey, glad to hear you figured it out.

I can probably make this clearer in the docs, but for the icons to work I have to replace some of the Dojo dom at runtime. This is what the icon_support.js file does, which is loaded as part of the require dbootstrap call. However, because it is patching some Dojo classes on the fly it **has** to be before any calls to your project code to ensure you get the

[2013-05-02 10:32] #46 closed, assigned to martinpengellyphillips

[2013-05-04 11:37] allencblee opened #47 "dojo 1.9 compatibility"
Just tried to build with dojo 1.9.0.   The build was successful but when running the demo, it shows an error of "unload to load dojo/selector/lite.js".

[2013-05-04 23:22] allencblee opened #49 "No background color in dijit.form.TimeTextBox dropdown"
![screen shot 2013-05-05 at 7 18 37 am](https://f.cloud.github.com/assets/2703458/463053/2dbdc388-b511-11e2-94da-7aaea87f4a5b.png)

I'm using dojo 1.9.0

[2013-05-08 21:16] martinpengellyphillips commented on #29
Ok, have pushed some fixes for a few of the errors. Now looking into the Node build issue referenced at https://bugs.dojotoolkit.org/ticket/15413

[2013-05-09 05:56] allencblee opened #50 "outline not shown in dijit.Tree"
It's difficult to use keyboard to navigate the tree nodes because outline is turned off.   In other themes like claro, outline is turned on in dijt.Tree

[2013-05-09 09:31] martinpengellyphillips commented on #29
Merged in #51

[2013-05-09 09:31] #29 closed, assigned to martinpengellyphillips

[2013-05-09 09:35] martinpengellyphillips commented on #50
Good point. Will add some subtle outlining in.

[2013-05-09 16:04] DavidSpriggs opened #52 "dijit/TitlePane styling is completely missing"
dijit/TitlePane should have styling rather than blank.

Compare (click the various dijits tab):
http://download.dojotoolkit.org/release-1.8.4/dojo-release-1.8.4/dijit/themes/themeTester.html
vs
http://thesociable.github.io/dbootstrap/

[2013-05-09 17:08] martinpengellyphillips commented on #52
Good spot! Any thoughts on what 'look' would be appropriate for the titlepane?

[2013-05-09 17:25] DavidSpriggs commented on #52
I would say something similar to the AccordionContainer/AccordionPane.

[2013-05-09 21:25] martinpengellyphillips commented on #52
Cool. I'll take a look at getting this done over the weekend.

[2013-05-10 19:42] martinpengellyphillips commented on #47
Confirmed.

Also, tried using the `--no-prune` option when building. This avoids the missing files error, but the result is still a blank page. Needs further investigation to find out why the application is not loading in Dojo 1.9.

[2013-05-11 00:19] allencblee1 commented on #47
I didn't use --no-prune.  I got it working by manually copying the selector folder from dojo release into the dojo folder under demo.

[2013-05-11 00:36] allencblee1 commented on #47
I just rebuild it using --no-prune.  It works.  By the way, I've included the icon_support fix.  Without it, it won't work because it would throw an exception inside the _attachTemplateNodes procedure because of the missing getAttrFunc parameter.

[2013-05-11 11:08] #52 closed, assigned to martinpengellyphillips

[2013-05-13 15:44] gavinr opened #56 "Disabled DateTextBox should show date"
It is standard for a disabled DateTextBox to show the value even though it can't be changed. Using the DBootstrap theme, however, hides the date on a DateTextBox if it is disabled.

See this Example of the normal (Claro) way and the Dbootstrap version:
http://jsfiddle.net/gavinr/U3Emw/

[2013-05-13 15:48] martinpengellyphillips commented on #56
Thanks for the report. I am seeing the displayed value (or placeholder) for disabled date text box (including in your jsfiddle demo) so it is probably a browser/OS specific issue. Can you let me know which browser and OS you are using?

[2013-05-14 04:03] gavinr commented on #56
Thanks for checking in to it!

Chrome 26.0.1410.64 on Windows 7

![dbootstrap](https://f.cloud.github.com/assets/209355/499571/453229e6-bc4b-11e2-8765-1c30fcfba535.png)

[2013-05-16 13:45] RuiBaiao opened #57 "Dbootstrap not running in the dojo themeTester"
Hello,

I'm fairly new to dojo and have been exploring the dbootstrap theme to enhance the look and feel for some apps for my company. I followed the guide and have built the dbootstrap theme to include in the project. I'm using the themeTester demo porject that is included in the dojo SDK. Here is how my dbootstrap theme is setup:

1 - added to dojo.js:

[code]

2 - in themeTester.html:

[code]

[2013-05-16 17:08] martinpengellyphillips commented on #56
I don't have a Win7 machine (though will see if the same issue occurs on Win8). Any chance you could dig into this?

[2013-05-16 17:13] martinpengellyphillips commented on #57
To help narrow down what might be going wrong can you try and build the demo (`python build.py demo`) and test if that works in your browser?

Also, let me know your OS and Chrome version.

[2013-05-16 17:16] gavinr commented on #56
Sure.

[2013-05-16 17:18] RuiBaiao commented on #57
The demo is built and running well.

OS: Windows 8
Chrome: Version 26.0.1410.64 m

[2013-05-16 21:02] martinpengellyphillips commented on #57
Cool - and which version of Dojo are you using?

[2013-05-17 03:42] gavinr opened #59 "Node Build Error - "Error: spawn ENOENT""
I'm on Windows 7, 64-bit.
Node version 0.10.6
Python 2.7
Stylus 0.32.1

When I run the python script it errors out:

[code]

So I try to run the offending command to see what happens, and I'm getting this error:

[code]

Any ideas on what's going on here? Thanks!

[2013-05-17 09:10] RuiBaiao commented on #57
Dojo 1.9

[2013-05-17 10:15] martinpengellyphillips commented on #57
Ah, ok. There are a couple of issues regarding using Dojo 1.9 (#47, #53, #54, #58) that are currently being worked on. You can check out those branches and test or wait a bit for them to be merged to master.

[2013-05-17 10:17] martinpengellyphillips commented on #59
Hmmm. Do you have Java installed?

[2013-05-17 10:17] RuiBaiao commented on #57
Ok, will it work ok in ojo 1.8 and below though? If dbootstrap does not work in 1.9 but works in 1.8, it's ok for my purpose

[2013-05-17 10:21] martinpengellyphillips commented on #57
Should work fine with 1.8. Note that the 1.9 fixes will be merged soon though so I would keep an eye on the issue list if moving to 1.9 is important for you.

[2013-05-17 10:23] RuiBaiao commented on #57
Alright. Thank you for the feedback! I'll test it now with 1.7 actually, because it's more commonly used here. For research purposes i tried first with the more recent version, but in this case, given that we use 1.7 more frequently, i'll try with 1.7

[2013-05-17 11:39] martinpengellyphillips commented on #50
Have enabled outline by default in #60 and only turned off where other styling exists.

[2013-05-17 11:41] #50 closed, assigned to martinpengellyphillips

[2013-05-17 11:59] martinpengellyphillips commented on #49
Fixed in #53

[2013-05-17 11:59] #49 closed, assigned to martinpengellyphillips

[2013-05-17 13:45] martinpengellyphillips commented on #56
Confirmed with Chrome on Win8 (and I suspect all webkit based browsers on various OS's). It is a styling issue where the disabled text is ending up the same colour as the background. Will take a look at the styling and precedence to fix.

[2013-05-17 22:47] gavinr commented on #59
No. Should I? I didn't see it as a dependency.

On Fri, May 17, 2013 at 5:17 AM, Martin Pengelly-Phillips <
notifications@github.com> wrote:

[2013-05-18 13:15] martinpengellyphillips commented on #59
Yeah,  some parts of the Dojo build still use Java. And you're right,  I forgot to add that to the dependencies list so will fix that!

[2013-05-18 17:59] martinpengellyphillips commented on #56
This should now be fixed on master. Can you pull latest and check it has resolved the issue for you?

[2013-05-28 21:51] martinpengellyphillips opened #63 "Update notice about testing and compatibility"
Currently the demo makes a statement about only being tested against Firefox on Mac which is now out of date. Update the statement to reflect the current testing and compatibility state.

[2013-05-28 21:54] martinpengellyphillips commented on #63
Perhaps also setup more comprehensive testing using Sauce Labs.

[2013-05-28 22:01] dylans commented on #63
We'd be happy to show you how to set things up with the intern if that's useful!

[2013-05-28 22:05] martinpengellyphillips commented on #63
Definitely!

[2013-06-06 16:51] jaetea opened #64 "Select dropdowns don't render properly when integrated into default bootstrap theme."
In tables.less in bootstrap there is a default table style that sets border-collapse to collapse.

table {
  max-width: 100%;
  background-color: @tableBackground;
  border-collapse: collapse;
  border-spacing: 0;
}

[2013-06-06 17:27] gavinr commented on #59
Looks good. Thanks!!

[2013-06-06 17:27] #59 closed, assigned to martinpengellyphillips

[2013-06-08 08:36] martinpengellyphillips commented on #64
Hi. Not sure I understand what you mean. Can you include a screenshot and details of the browser and OS you are using?

[2013-06-08 08:36] #56 closed, assigned to martinpengellyphillips

[2013-06-08 08:37] martinpengellyphillips commented on #57
How did you get on with 1.7?

[2013-06-25 13:27] celorodovalho opened #65 "WindowsError"
I got the following error on Windows 7 64

[code]

[2013-06-26 17:02] martinpengellyphillips commented on #65
Hey! Can you confirm whether you can run 'stylus.cmd' from a terminal?

[2013-06-28 12:01] celorodovalho commented on #65
Sorry! I have downloaded all the dependencies and put in the folder of dbootstrap, now I can generate a demo.

I think it is best to describe in more detail in the documentation which dependencies are and where to stay.
Because in my case, I downloaded the link (https://github.com/thesociable/dbootstrap/archive/master.zip) and follow the description and it did not work, I believe I was using the g

[2013-06-29 09:55] martinpengellyphillips commented on #65
Thanks for the followup - glad to hear you got it working!

[2013-06-29 09:55] #65 closed, assigned to martinpengellyphillips

[2013-07-03 08:39] IanConnolly opened #66 "Download/Build Problem: Commits referenced in Dojo/* repos no longer exist"
$ git clone --recursive git://github.com/thesociable/dbootstrap.git

Unable to checkout '961d2ff20aae8432acd1df2fc5f96fbb1b51b71e' in submodule path 'source/dijit'
Unable to checkout '6751624b5bdb4844bcff086be2cc31b557b2fb85' in submodule path 'source/dojo'
Unable to checkout 'b1efee8930384b057c1295f5b28cddb11fbf75c4' in submodule path 'source/dojox'
Unable to checkout '57bdb06edefddf1fcbc0d4a072c

[2013-07-03 10:18] IanConnolly commented on #64
I think it might be something along these lines? I'm experiencing this myself (dojo/dijit 1.8.5)

![screen shot 2013-07-03 at 11 16 19](https://f.cloud.github.com/assets/1179074/742418/a1e94778-e3c9-11e2-88d5-774801207724.png)

Dbootstrap is the only CSS in that page, though the problem also occurs when the Twitter Bootstrap CSS is loaded too.

[code]

[code]

[2013-07-03 15:31] dekristo commented on #66
Seems to work when you do a git checkout on each submodules.

[2013-07-03 23:56] DomDerrien commented on #66
Same issue, solved by cloning each folder individually.

[2013-07-04 08:46] martinpengellyphillips commented on #66
Confirmed am seeing this as well. Not sure what has changed, perhaps I need to reset the submodules.

[2013-07-04 18:16] dylans commented on #66
We moved Dojo from svn to GitHub, so we had to do some repo shuffling with the old github repos (which were simply mirrors of svn). See http://dojotoolkit.org/blog/dojo-is-now-hosted-on-github for some basic details.

[2013-07-04 19:05] martinpengellyphillips commented on #66
Ah - thanks Dylan. Will update the references to point to the new repos.

[2013-07-04 20:48] martinpengellyphillips commented on #66
This should now be fixed. Thanks again for the report!

[2013-07-04 20:48] #66 closed, assigned to martinpengellyphillips

[2013-07-24 14:19] IanConnolly commented on #64
Don't know if you've seen this ye @thesociable, any ideas?

[2013-07-24 18:13] martinpengellyphillips commented on #64
Hey. Haven't had time recently to look into this. Will likely get some time in the next few weeks.

Can you confirm that the behaviour is as expected for you on the demo site (http://thesociable.github.io/dbootstrap/)?

[2013-07-25 08:16] IanConnolly commented on #64
Yep, the demo seems to be working fine. I could try the exact version of Dojo and hash of dbootstrap that you're running there if you have them handy?

[2013-07-25 15:50] jaetea commented on #64
Inside of select.less I had to add the following to overwrite the bootstrap styling.

.dbootstrap .dijitSelect {
    border: none;
    color: @gray;
    border-collapse: separate;  // Fix for bootstrap table reset.
    transition: border linear .2s, box-shadow linear .2s;
}

[2013-07-25 16:25] IanConnolly commented on #64
Sadly, that doesn't seem to have fixed anything here on my end.

[2013-07-25 16:45] martinpengellyphillips commented on #64
@jaetea Sounds like you are experiencing a different issue. Could you send a screenshot of the issue you were facing. Also, dbootstrap doesn't use less files so I am curious as to what your setup is?

@NSNO Will look into your example code to figure out a solution.

[2013-07-25 17:19] martinpengellyphillips commented on #64
@NSNO Just ran your test against a build of the theme from latest master. It works correctly if you shift dbootstrap to be the first requirement in the list. This is important as dbootstrap monkey-patches some of Dijit to allow font-based icons to work (as per the README, but perhaps I need to **bold** that bit).

Change

[code]

to

[code]

and you should get
![dbootstrap_select_dropdown](https:/

[2013-07-25 20:29] jaetea commented on #64
I converted the .stylus to .less files so I could leverage the mixins from bootstrap and have to only use one css pre-processer and be able to use the same variables file.

[2013-07-27 09:13] martinpengellyphillips commented on #64
@jaetea Ok. I'm still not clear on what the issue was. If you could provide a screenshot that would be great. Otherwise will close this ticket now.

[2013-07-27 09:29] #63 closed, assigned to martinpengellyphillips

[2013-07-27 09:31] martinpengellyphillips opened #69 "Bootstrap 3"
Bootstrap 3 RC1 is out (http://twitter.github.io/bootstrap/). Do folks want dbootstrap to update to this new theme? Or offer as an alternative (perhaps a different base class name)?

[2013-07-27 23:20] jaetea commented on #69
Update to the new theme. Most people customize bootstrap so having two default themes is a waste.

[2013-07-27 23:26] jaetea commented on #64
Just close. As I'm moving to 3 RC1 and haven't been able to replicate the issue again.

[2013-07-28 09:10] #64 closed, assigned to martinpengellyphillips

[2013-07-28 10:09] #40 closed, assigned to martinpengellyphillips

[2013-07-28 10:13] martinpengellyphillips commented on #47
Going to update to Dojo 1.9. Will try to maintain backwards compatibility with Dojo 1.8.

[2013-07-28 12:05] martinpengellyphillips commented on #47
Updated to Dojo 1.9 and added missing selector/lite.js to demo build.

[2013-07-28 12:05] #47 closed, assigned to martinpengellyphillips

[2013-07-28 12:11] martinpengellyphillips commented on #57
Updated to Dojo 1.9.

[2013-07-28 12:11] #57 closed, assigned to martinpengellyphillips

[2013-07-28 19:54] jaetea opened #72 "Convert .styl to .less files"
Considering both Dojo and Bootstrap use LESS files by default could we convert the .styl files to .less files for easier integration?

[2013-07-28 21:16] martinpengellyphillips commented on #72
I started out using LESS and became frustrated with it for various reasons. After a bit of research I moved to Stylus and have been happy with it since, so no plans to convert back. From memory, various members of the Dojo community are pushing to adopt Stylus for Dojo 2.0 as well.

What do you mean by easier integration?

[2013-07-28 22:23] #11 closed, assigned to martinpengellyphillips

[2013-07-29 04:40] dylans commented on #72
Agreed, the plan is to move away from LESS to Stylus for several reasons . There are various reasons, but primarily Stylus doesn't have the same unsolved bugs we've experienced with LESS, and in general, the Stylus code base is far more pleasant to use.

Stylus has a more flexible mixin structure, supporting variable arguments. You can easily define variables only if not already defined (e.g. to i

[2013-07-29 13:30] jaetea commented on #72
Thanks Dylan. This is really good to know. Will work with .styl files from now on. This can be closed.

[2013-07-29 15:15] #72 closed, assigned to nobody

[2013-07-29 18:29] jaetea opened #73 "dgrid style height of 100% makes it not render if outside of a parent container."
Go to any of the demo pages.

http://dojofoundation.org/packages/dgrid/tutorials/defining_grid_structures/demo/baseline.html

Change height to 100% in dev tools and grid doesn't render.

![image](https://f.cloud.github.com/assets/3731879/873662/ab6a9f32-f87c-11e2-83bb-1351f92b1b46.png)

[2013-07-29 18:48] dylans commented on #73
That's usually the result of setting it to 100% of whatever contains it. If that container has no explicit height, then it would be interpreted as zero and so you would get 100% of 0. The solution is to set the height of the body and html elements to be 100%

[2013-07-29 19:14] jaetea commented on #73
Should Grid.styl have 100% height explicitly set then? Or should it be something like height:auto?

[2013-07-29 19:34] martinpengellyphillips commented on #73
It was originally set due to the expectation of a Grid being inside a ContentPane. However, it is probably better if users use the DijitRegistry mixin when adding the Grid to a layout, in which case it can be removed (and will default to the dgrid default of height: 30em).

[2013-07-29 19:38] jaetea commented on #73
Thanks! We use dgrid inside any number of portlets, pages, modals, etc. It might not always be inside a content pane.

[2013-07-29 19:49] martinpengellyphillips commented on #73
No problem and thanks for the report! Change is now merged to master.

[2013-07-29 19:49] #73 closed, assigned to martinpengellyphillips

[2013-07-29 20:03] martinpengellyphillips commented on #69
Makes sense. I'll try to do #12 first and hopefully at the end of that it will be much easier to change to the newer style (and also for others to customise further).

[2013-08-16 09:35] pmlopes opened #75 "add theme for dojox/Calendar"
The basic calendar is supported but the dojox is not supported at all... It would be nice to have a themed dojox Calendar widget

[2013-08-16 14:40] jaetea commented on #75
Not sure if this is possible as dojox components require imports of flattened css files.

@import "dojox/widget/Calendar/Calendar.css";

[2013-08-18 18:58] pmlopes commented on #75
i've imported dojox calendar claro theme and it looked bad. I then copied the theme folder and in the css files i repaced claro with dbootstrao and it worked. However it does not really look like bootstrap but i guess it could...

[2013-08-22 17:51] martinpengellyphillips commented on #75
Cool. Will take a look.

[2013-08-26 14:39] jaetea commented on #69
Any updates on this? BS3 has been finalized.

[2013-08-27 10:24] dekristo commented on #35
What is current status of this issue? How can i help?

[2013-08-28 08:50] martinpengellyphillips commented on #69
Hey. At present I probably won't have time to look at this for a couple of months.

[2013-08-28 08:56] martinpengellyphillips commented on #35
Hey! This one is currently just lingering around. Feel free to have a go.

Basically you would need to remove the `xstyle/css!` load directive in `dboostrap/main.js` and then manually add a link to `dbootstrap.css` in `index.html`. If that all works as expected then update the `README.rst` where appropriate to instruct users to now manually add the `dbootstrap.css` link to their projects.

[2013-08-28 13:15] jaetea commented on #35
I'm working on integrating this in the next couple of months. Its pretty straight foward.

However, don't you still need to load via the xstyle so the dojo icons are replaced with glyphicons?

[2013-08-28 14:21] martinpengellyphillips commented on #35
Shouldn't do, though you would still need to load the dbootstrap package to alter the dom structure of some of the Dojo widgets to work with the icons. Haven't had a chance to try this myself yet though - are you seeing that you do still need the xstyle load?

[2013-08-30 07:18] stemey opened #76 "Dnd looks unfinished"
In the theme previewer there is a "1" on top of the label being dragged. It seems misplaced.

[2013-08-30 07:20] stemey opened #77 "Does it work with Gridx?"
Has anyone checked if the theme works with gridx?

[2013-08-30 07:24] stemey opened #78 "Context menu is not working"
The context menu does not seem to work in the theme previewer.

[2013-09-02 09:56] pmlopes opened #79 "Does dbootstrap support responsive apps?"
Bootstrap is built with the concept of responsive design, does dbootstrap also support it? is there a simple demo of the feature? I was trying to see it in action but cannot get it to work...

[2013-09-02 10:39] martinpengellyphillips commented on #76
Yes, haven't done any DnD specific theming yet. Thanks for the report!

[2013-09-02 10:39] martinpengellyphillips commented on #78
Yes, need to fix that. Thanks for the report!

[2013-09-02 10:40] martinpengellyphillips commented on #77
I haven't. There isn't much in the way of grid specific styling so hopefully wouldn't be much work to integrate gridx. Something you could look at?

[2013-09-02 10:49] martinpengellyphillips commented on #79
There is no specific support for the responsive design concept you are referring to at present. Some discussion regarding Dojo and responsive design in general can be found at http://dojo-toolkit.33424.n3.nabble.com/Responsive-design-and-Rem-in-dojo-td3985879.html

The dbootstrap demo uses Dojo layouts to handle sizing etc. As the discussion above suggests I guess there is some work that could be

[2013-09-02 10:52] stemey commented on #77
I will probably try it out at some point in the near future and report back.

[2013-09-03 13:18] jaetea commented on #77
Are you referring to enhanced Grid? Any dojox components are difficult to style as they are tied to external stylesheets.

[2013-09-03 13:55] stemey commented on #77
I am talking about  "http://oria.github.io/gridx/". In terms of features it is the successor of dojox.EnhancedGrid.

[2013-09-03 14:30] dylans commented on #77
fwiw, dbootstrap seems to work well with dgrid ( http://dgrid.io/ ). dgrid's skins ( https://github.com/SitePen/dgrid/tree/master/css/skins ) are arguably a bit simpler to style than gridx, because all of the theme specific rules for dgrid are contained within a skin (dbootstrap dgrid version is at https://github.com/thesociable/dbootstrap/blob/master/source/dbootstrap/theme/dbootstrap/Grid.styl )

[2013-09-04 13:33] jaetea commented on #77
Like dylan said it may make more sense to just move to dgrid. It's a million times easier to style.

We have done that internally and there isn't any functionality in either Grid or Enhanced grid that isn't supported in dgrid.

[2013-09-06 19:24] rich-frost opened #80 "Build issue on Windows"
Hi,

Just cloned your repo, and tried running the build process, but have gotten the following error:

$ python build.py -v debug theme
INFO:dbootstrap.build:Building theme to c:\wamp\www\dbootstrap\build\theme
INFO:dbootstrap.build:Building CSS.
DEBUG:dbootstrap.build.execute:Running command: stylus.cmd --include c:\wamp\www\dbootstrap\source\nib\lib --include c:\wamp\www\dbootstrap\source\dboots

[2013-09-06 19:38] martinpengellyphillips commented on #80
Python's error in this case is a little misleading, but means that Python could not find `stylus.cmd` for running in a subprocess.

How did you install Stylus?

[2013-09-06 20:31] rich-frost commented on #80
Hmm ok that is strange, I thought it couldn't find index.styl. I used npm as suggested on their website: http://learnboost.github.io/stylus/

npm install stylus

[2013-09-06 20:34] martinpengellyphillips commented on #80
Hmmm. Are you able to run `stylus.cmd` manually from the same terminal you are running the build?

[2013-09-06 20:50] rich-frost commented on #80
Ok, my bad - stylus didn't seem to install when I ran that. Using this article http://bootstrap.pk/tutorials/getting-started-with-stylus-css-pre-processor/

I ran 'npm install stylus -g' and it seemed to install properly.

Cheers

[2013-09-06 20:50] #80 closed, assigned to nobody

[2013-09-11 14:36] martinpengellyphillips opened #82 "Add BSD license option"
Add BSD license as an option to simplify licensing for enterprise consumers.

[2013-09-11 14:40] martinpengellyphillips opened #83 "Add community guidelines to README"
Add community guidelines similar to https://github.com/sitepen/dgrid#community
In particular require CLA for non trivial changes.

[2013-09-11 14:41] martinpengellyphillips opened #84 "Dojo Foundation link"
Add mention in README that project maintains the same standards as Dojo Foundation packages and provide link.

[2013-09-11 14:44] martinpengellyphillips opened #85 "Dojo 2.0 package compatibility"
Look at https://github.com/kitsonk/dojo2-boilerplate-package and match where appropriate.

Also, add package/versions as part of package.json (see https://docs.google.com/document/d/17B7A0eGbBAYsuZTQCnMnQ-xNiuB5NVc4vKYJqp3a_CE)

[2013-09-11 17:48] martinpengellyphillips commented on #82
Merged.

[2013-09-11 17:48] #82 closed, assigned to martinpengellyphillips

[2013-09-16 13:32] DavidSpriggs opened #87 "Split the dbootstrap source out into its own repo."
Would it be possible to split out the source/dbootstrap dir into its own repo? This would allow the dbootstrap source to be added as a sub module to other projects (including this one). Also would be nice for the source to have releases that match the dojo releases.

[2013-09-17 15:45] martinpengellyphillips commented on #87
Yep. Have been thinking about this and it wouldn't be too hard the way it is set up at the moment. Also been meaning to do a release tag.

[2013-09-18 10:50] pmlopes commented on #79
Thanks for your answer, I am not an expert on CSS and media queries so sorry I cannot provide any pull request now.

[2013-09-18 10:50] #79 closed, assigned to nobody

[2013-09-24 22:00] cjeriksson opened #88 "Can't build on OSX"
As far as I can tell I have all the right dependencies set up - but building fails with the following error:

localhost:dbootstrap johan$ python build.py demo
INFO:dbootstrap.build:Building demo to /Users/johan/dbootstrap/dbootstrap/build/demo
INFO:dbootstrap.build:Building CSS.
Traceback (most recent call last):
  File "build.py", line 308, in <module>
    raise SystemExit(main())
  File "build.p

[2013-09-25 14:23] martinpengellyphillips commented on #88
This error usually means that 'stylus' can not be found as a command to run. Are you able to run 'stylus' manually from a terminal?

[2013-09-25 15:04] cjeriksson commented on #88
Ah, excellent - that did the trick. Stylus wasn't on the path. Thanks !

[2013-09-25 15:06] #88 closed, assigned to nobody

[2013-10-01 14:39] #83 closed, assigned to martinpengellyphillips

[2013-10-20 14:32] bosticka opened #90 "Cannot build theme on linux"
Hi,

My node build is failing with a "Error: This socket is closed." message.  I have seen one other ticket with this exact error on another project so possibly it is a dojo problem?  I am not a node user so any help is welcome.

See also https://github.com/kitsonk/dojo-node-boilerplate/issues/5 for this exact problem in a different dojo / node project.

Thanks,
Aaron

<pre>
bosticka@db ~/boot $ u

[2013-10-28 14:17] martinpengellyphillips commented on #90
Hey, sorry for delayed response. Haven't had time to look at dbootstrap recently.

Did you find a solution to this?

[2013-10-28 14:21] bosticka commented on #90
Sorry I haven't.  I am currently just using a prebuilt version you made available for download.

How hard is it to build against version 1.8.5 of dojo?  I had some trouble with the 1.9 line and reverted.

[2013-10-28 14:24] martinpengellyphillips commented on #90
Should be fine to build against Dojo 1.8.5 (just change the submodule checkout tag in your local copy).

[2013-10-29 12:06] bosticka commented on #90
Using version 1.8.5 or version 1.9.1 or HEAD does not matter, though I am getting a different error now.  The node build command is now saying:

<pre>node /usr/share/nginx/dragon-dev/test/dbootstrap/source/dojo/dojo.js load=build --profile /usr/share/nginx/dragon-dev/test/dbootstrap/resource/dbootstrap_profile.js --releaseDir /usr/share/nginx/dragon-dev/test/dbootstrap/build/theme
processing profi

[2013-10-29 19:27] gavinr commented on #69
Any update on this? I'd love to have access to the latest build of FontAwesome.

[2013-11-01 18:54] martinpengellyphillips commented on #69
No work done for this yet. Would like to wait until some of the core is structured better to actually allow building different versions of the themes using just changes to the variables. However, I am struggling to find time to work on this project at present so can't give any reliable timescales.

Pull requests welcome though.

[2013-11-11 13:29] pixelheresy commented on #90
I get a similar issue, but not the same on Linux... It merely chokes when trying to build. I did try rolling back to 1.8.5 (not just in `/source/dojo` but in `dijit`, `dojox`, and `util`). Still nothing.

[code]

Any clue what is up? Both `node.js` and `python` are appropriate versions.

[2013-11-12 03:16] bosticka commented on #90
Run the node build command by itself like:

node /home/apsuser/projects/dbootstrap/source/dojo/dojo.js load=build
--profile /home/apsuser/projects/dbootstrap/resource/dbootstrap_profile.js
--releaseDir /home/apsuser/projects/dbootstrap/build/theme

and you should see an error message with more information than just
"code 1".  I still have no gotten it to build myself.

Aaron

On Mon, Nov 11, 2013

[2013-11-29 23:21] shiftyp opened #91 "Add bower.json"
Add a bower.json so that dbootstrap can be registered as a [Bower](http://bower.io/) component.

[2013-12-02 15:53] bosticka commented on #90
So I finally got this to build because I was seeing the same error in my own project build.  Come to find out, it has to do with the build setting "maxOptimizationProcesses" which I believe determines how many layers to compile/optimize in parallel based on how many processors you have.

I have a 16 core (two 8 core xeon cpus) server but run my builds inside my OpenVZ container on Centos 5.9.  Som

[2013-12-02 15:53] #90 closed, assigned to nobody

[2013-12-14 18:54] realjiangms opened #92 "It not work with dojo 1.9.1, DateTextBox, DateTimeTextBox ,etc"
First that's an amazing theme :+1:
But I met some problem when I tried it with my dialog which contains some DateTextBox, DateTimeTextBox, etc. The dropdown button disappear and leave a small blank button.

I checked with firefox and found the root cause is, in dojo1.9.1, DropDownBox.html use 'input' instead of 'span' to present the dropdown button. That impact all widgets use template 'DropDownBo

[2013-12-14 19:01] realjiangms commented on #92
The rough workaround of hacking css is:
.dbootstrap .dijitComboBox input.dijitArrowButtonInner {
    display: inline-block !important;
        text-indent: 0 !important;
        width: 1em;
}

[2013-12-17 21:24] edhager opened #93 "icon_support does not patch dijit/_AttachMixin in Dojo 1.9+"
`dbootstrap/icon_support` is using the following check to determine if `dijit/_AttachMixin` or `dijit/_TemplatedMixin` should be patched:

[code]

The problem is that `TemplatedMixin.prototype._attachTemplateNodes` is never undefined.  `_TemplatedMixin` has `_AttachMixin` mixed into its prototype in Dojo 1.9.  Here is code that will show that `_TemplatedMixin` is being patched and `_AttachMixin` i

[2013-12-18 17:39] martinpengellyphillips commented on #92
Thanks for the report. Will take a look at this over the Christmas break.

[2013-12-18 17:44] martinpengellyphillips commented on #93
Hmmm. It worked when we addressed this in #48 ( #54, #58 ) I believe, but maybe something has changed in Dojo since then.

Anyway, thanks for the report - any thoughts on an appropriate solution?

[2013-12-18 21:07] edhager commented on #93
I have an update that I am testing:
https://github.com/edhager/dbootstrap/compare/patch-AttachMixin

Hopefully I will have a pull request soon.

[2013-12-28 05:28] CrypticArtsLaboratory commented on #88
I have the same issue although stylus is in my path I think my issuee was that I downloaded the following file from http://thesociable.github.io/dbootstrap/: thesociable-dbootstrap-dojo-1.8.5-25-g9d88eac.tar.gz (big blue download latest(dev)) button

It did not include all the files, namely missing, dijit dojo dojox nib put-selector util xstyle

using the clone of the repository fixed the issue

[2013-12-29 14:15] realjiangms commented on #92
Never mind it. I found the problem is the code in icon_support.js didn't take effect when I met this issue so the element with 'dijitArrowButtonInner' was not replaced by span. Now it works fine as I discarded the 'parseOnLoad' and moved dbootstrap line a little forward. I think we may need a wiki page as knowledge base for some comment stupid false usage.

Found your comment for this issue in ico

[2014-01-02 18:34] martinpengellyphillips commented on #92
Cool - yeah, some of that information is lost a little in the README so maybe a wiki / faq would be good.

[2014-01-02 18:34] #92 closed, assigned to nobody

[2014-01-02 18:36] martinpengellyphillips commented on #91
Happy to accept a pull request for this, but I won't have time to look into it myself.

[2014-01-23 08:14] luluprat opened #95 "build error : os.path.join(dbootstrap_theme_path, 'index.styl')"
hello i can't build the dbootstrap.
i am on linux and try it on ubuntu and centos .
i have got the same issue :
DEBUG:dbootstrap.build.execute:Running command: stylus --include /var/www/html/DEV/dbootstrap/source/nib/lib --include /var/www/html/DEV/dbootstrap/source/dbootstrap/theme/dbootstrap /var/www/html/DEV/dbootstrap/source/dbootstrap/theme/dbootstrap/index.styl
Traceback (most recent call la

[2014-01-31 18:04] martinpengellyphillips commented on #95
Hi. Is 'stylus' installed and can you run it from the command line?

Typically, this error means that 'stylus' could not be found.

[2014-02-11 04:50] csnover commented on #91
Bower will use a standard CJS package.json, which kills two birds with one stone.

[2014-02-12 16:57] edhager commented on #93
For reference, here is the pull request: https://github.com/thesociable/dbootstrap/pull/94

[2014-03-04 10:10] luluprat commented on #95
Hello
i install stylus with
npm install stylus -g
but when i try
stylus --version
it works but thre is no answer.

i still have the problem

python build.py demo
INFO:dbootstrap.build:Building demo to /var/www/dbootstrap/build/demo
INFO:dbootstrap.build:Building CSS.
WARNING:dbootstrap.build.execute:Command stylus --include /var/www/dbootstrap/source/nib/lib --include /var/www/dbootstrap/source/db

[2014-03-07 08:22] TomasLudvik opened #96 "Building issues"
Hi there,

I've read allmost every issue here and I have a question. Almost everybody has some issues with building files or getting them to work. Not everybody using js + css is used to build files, install so many dependencies from repositories etc.

Could you create builded version for us noobs add there some fast installation steps and public it here on github? It would save a lot of time and

[2014-03-07 18:48] PoyangLiu commented on #95
I have the same problem, but on windows machine.
runing "stylus --version" returns "0.42.3"
running "python build.py theme" gives the same error

d:\Projects\thesociable-dbootstrap-9d88eac>python build.py theme
INFO:dbootstrap.build:Building theme to d:\Projects\thesociable-dbootstrap-9d88e
ac\build\theme
INFO:dbootstrap.build:Building CSS.
WARNING:dbootstrap.build.execute:Command stylus.cmd --inc

[2014-03-07 19:26] luluprat commented on #95
hello,

my problem was solved in removing node.js debian package and compiling
node.js.
maybe it helps

2014-03-07 19:48 GMT+01:00 Jay notifications@github.com:

[2014-03-10 13:24] nicolasiac commented on #96
I need this as well. The theme is awesome but I don't have the knowledge of doing the build myself

[2014-03-13 17:26] martinpengellyphillips commented on #96
Good call. I had planned to do this, but haven't had time recently to spend on this project. Hope to change that soon. Also, I think github have made it easier to include built versions now in the release.

[2014-03-13 18:13] nicolasiac opened #97 "Dojox Calendar support"
Hi,
Are you planning to support the new dojox calendar widget as well?

Thanks!

[2014-03-17 06:36] nicolasiac commented on #97
http://dojotoolkit.org/reference-guide/1.9/dojox/calendar.html

[2014-03-28 20:01] elymatos opened #98 "Dijit issue with FilteringSelect"
Hello
on Theme Test Page, button of FilteringSelect is rendering:

<div class="dijitReset dijitRight dijitButtonNode dijitArrowButton dijitDownArrowButton dijitArrowButtonContainer" data-dojo-attach-point="_buttonNode" role="presentation"><span class="dijitReset dijitInputField dijitArrowButtonInner"></span></div>

With Dojo 1.9.2 (on Dijit) FilteringSelect is rendering:

<div class="dijitReset di

[2014-04-07 17:16] tchapin opened #99 "Windows Build error - missing file"
Having a problem building in Windows.  I installed Node.js and stylus.  Here's the message:

C:\dbootstrap-master>stylus --version
0.43.1

C:\dbootstrap-master>python build.py theme
INFO:dbootstrap.build:Building theme to C:\dbootstrap-master\build\theme
INFO:dbootstrap.build:Building CSS.
WARNING:dbootstrap.build.execute:Command stylus.cmd --include C:\dbootstrap-master\source\nib\lib --include C

[2014-04-07 17:18] tchapin commented on #99
C:\dbootstrap-master>python build.py -v debug theme
INFO:dbootstrap.build:Building theme to C:\dbootstrap-master\build\theme
INFO:dbootstrap.build:Building CSS.
DEBUG:dbootstrap.build.execute:Running command: stylus.cmd --include C:\dbootstrap-master\source\nib\lib --include C:\dbootstrap-master\source\dbootstrap\theme\dbootstrap C:\dbootstrap-master\source\d
bootstrap\theme\dbootstrap\index.styl

[2014-05-06 18:43] KateHodge commented on #99
I'm having the same problem.  Did you manage to get it working?

[2014-05-06 18:46] KateHodge commented on #96
Seconded (or thirded!).  @thesociable : this looks excellent.  I'd really like to use it but I can't get it to build either (I'm getting the same problem with stylus.cmd others have reported).  A compiled version we can just include on a website and reference would be brilliant.  It's a great looking theme - much preferred to claro.  I really hope you can find some time!

[2014-05-06 18:46] tchapin commented on #99
No, I never did get it working.

[2014-05-07 10:26] iToreTS commented on #99
Have you seen this?
http://stackoverflow.com/questions/14815346/dojo-twitter-bootstrap-and-dijits/14833126

There are actually two different links to  zip-files that should contain a pre-built version in this Stackoverflow thread.

[2014-05-07 11:38] KateHodge commented on #99
@iToreTS that looks very useful - thanks very much for sharing it.

[2014-05-21 22:11] KateHodge commented on #52
@thesociable you created a prebuilt download in response to this question on StackOverflow (http://stackoverflow.com/questions/14815346/dojo-twitter-bootstrap-and-dijits).  However, I think it was before you added the TitlePane css as I'm getting the issue reported above.  I haven't managed to build the project myself so wondered if you could create an updated prebuilt version to download?

[2014-05-24 21:23] martinpengellyphillips commented on #52
Try the new one at https://github.com/thesociable/dbootstrap/releases/download/0.1.0/dbootstrap-0.1.0-dojo-1.9.1.zip and let me know how you get on.

[2014-05-24 21:27] martinpengellyphillips commented on #99
Have uploaded a new copy of the built theme under releases (https://github.com/thesociable/dbootstrap/releases).

Regarding the error you saw - had you cloned the dbootstrap repository with `--recursive` in order to also pull in the submodules (nib and others)?

[2014-05-24 21:28] martinpengellyphillips commented on #96
Uploaded a copy of the theme under https://github.com/thesociable/dbootstrap/releases

Let me know if it works for you.

[2014-05-24 21:31] martinpengellyphillips commented on #95
If you want to try a prebuilt copy of the theme you can find it now under releases at https://github.com/thesociable/dbootstrap/releases

[2014-05-24 21:53] martinpengellyphillips commented on #93
Pull request merged.

[2014-05-24 21:53] #93 closed, assigned to nobody

[2014-05-27 13:23] tchapin commented on #99
I didn't clone it, I just downloaded the master.zip.  But not sure I need to if the built release works?

[2014-05-28 14:16] KateHodge commented on #99
@thesociable thanks for creating the prebuilt version.  I've switched over to it from the one linked from StackOverflow and it's working well.

[2014-05-30 13:15] martinpengellyphillips commented on #99
@tchapin You shouldn't need it if you just want to use the prebuilt theme. However, if you do want to modify the source you should git clone with recursive option rather than downloading the zip file as otherwise you will have to also download and install all the other dependencies.

@sbhodge80 Good to hear - thanks for reporting back.

[2014-05-30 13:15] #99 closed, assigned to nobody

[2014-06-01 11:32] mc007 opened #101 "other bootstrap themes ?"
Hi,
I just toyed now with your theme and I'm wondering that I will be capable to use boostrap themes from stock markets ? Because the white one is simply awful.  Do I need to adopt those external themes into stylus and rewrite it for each Dojo/Dijit widget ? Thank you!

[2014-07-16 23:48] redaktor opened #102 "minor documentation issue"
download 3) is basically the same than including
[code]
in download 2)

It's a bit more elegant and we can save one step ;)

[2014-07-17 11:10] luluprat opened #103 "failed build : stylus error"
Hello

when i try to build i get this:

python build.py demoINFO:dbootstrap.build:Building demo to /var/www/library/thesociable-dbootstrap-559963f/build/demo
INFO:dbootstrap.build:Building CSS.
WARNING:dbootstrap.build.execute:Command stylus --include /var/www/library/thesociable-dbootstrap-559963f/source/nib/lib --include /var/www/library/thesociable-dbootstrap-559963f/source/dbootstrap/theme/dbo

[2014-07-17 13:35] martinpengellyphillips commented on #103
Did you use the `--recursive` flag when cloning?

[2014-07-17 14:13] luluprat commented on #103
no i did not

2014-07-17 15:35 GMT+02:00 Martin Pengelly-Phillips <
notifications@github.com>:

[2014-07-17 14:15] martinpengellyphillips commented on #103
Ok - so the submodules won't have been loaded (nib is a submodule).

Try running the following from the root of the project and then attempt the build again:

[code]

[2014-07-29 08:44] MartinDoyleUK commented on #91
Definitely love to see this, as my team want to use this library, but I'm not happy with library stored in our repo, so every other library is a bower dependency. Here's a quick how-to if anyone does find time to do this ... it should only take about 2/3 minutes:
http://devhike.blogspot.co.uk/2013/06/how-to-register-your-library-or.html

[2014-09-13 11:52] redaktor commented on #98
@elymatos The link you posted does not use dbootstrap at all. It is using the claro theme.

Works for me. Might be closed :8ball:

[2014-09-13 11:59] ghost opened #104 "enhancement : validation icons"
The validation icons do not show.
I fixed that using :after. But that needs crossbrowser testing.

You can see it here in action: http://redaktor.circinus.uberspace.de/schemer/
[e.g. put an invalid URI in the "id" field on the left]

I could stick a pull request together (with every detected [minor] issue) when above project is ready.
Fine for you?

[2014-10-21 10:27] atoha opened #105 "gh-pages is down"
https://thesociable.github.com/dbootstrap/ seems to be unavailable. Could you fix it?

[2014-10-22 10:26] martinpengellyphillips commented on #105
Ah. I changed my username recently so I guess I have to redo the ghpages. Will take a look at the weekend.

[2014-10-22 10:33] KateHodge commented on #105
Thanks Martin.  I use this page quite often too so just wanted to add my gratitude for your effort.

I forked the project from fear it might disappear although I'm a github newbie so not really sure what to do with it.  However, I don't think the source code includes the theme previewer anyway.  Is there any chance you would provide a zip of the theme previewer so someone could host a standalone c

[2014-10-22 12:55] DavidSpriggs commented on #105
You can view it here with Martins new user name: http://martinpengellyphillips.github.io/dbootstrap/

[2014-10-22 13:02] martinpengellyphillips commented on #105
Thanks both.

[2014-10-22 13:04] martinpengellyphillips opened #106 "New maintainer"
Hi all,

As is clear from the lack of movement on the other reported issues I just don't have the time or focus to maintain this project anymore.

I am more than happy to hand off to someone else so do let me know if you are interested in taking up the mantle.

Martin

[2014-11-12 23:31] ghost opened #108 "dijitInputContainer should not have padding top/bottom"
affects rules
.dbootstrap .dijitInputContainer { padding: 6px 6px; }
and
.dj_webkit .dbootstrap .dijitInputContainer { padding: 4px 4px; }

_usability issue_
If the user doubleclicks the input to select all and the mouse is below or above the text (within the padding) the input field node gets selected but not the text. This might lead to confusion.

solution
line-height = height has the same effe

[2014-12-11 22:59] redaktor commented on #108
This is rather a question than an issue. It happens with widgets not having _FormWidgetMixin.js mixed in. See the comment in _FormWidgetMixin's _onFocus ...

[2014-12-15 18:43] JoyalToTheWorld commented on #105
Looks to be down again...

[2014-12-16 09:48] KateHodge commented on #105
It's working now: either has been fixed (in which case thanks!) or was a temporary glitch.

[2015-01-07 05:03] dandv commented on #106
+1

[2015-01-11 19:56] #101 closed

[2015-03-10 08:33] atoha commented on #106
I could take the mantle, if it's ok?

[2015-03-24 14:40] slimmtl commented on #98
@elymatos  I had the same issue, the link seems fixed, what was the solution?

[2015-03-24 14:41] slimmtl commented on #35
@jaetea  have you worked on this?

I get a problem when trying to build with my styles inlined using the plugin: directive. It seems to conflict with dbootstrap,

[2015-03-25 11:37] martinpengellyphillips commented on #106
@atoha Fine with me if you are still up for it?

What's your preferred way to do this? I can either transfer the repo or just update the front page with links to your fork.

[2015-03-26 16:46] atoha commented on #106
could you assist what would be better? I guess transfer would make the whole link updates easier?

[2015-04-07 19:16] martinpengellyphillips commented on #106
Never done it before myself, but seems like a sensible way forward. I'll kick it off now.

[2015-04-07 19:18] martinpengellyphillips commented on #106
Hmmm...didn't work. Says  "atoha/dbootstrap already exists".

[2015-04-08 08:30] atoha commented on #106
I suppose, it caused by forked repo. I have deleted it now. Can you try it again?

[2015-04-08 15:51] martinpengellyphillips commented on #106
Cool. Seemed to work - you should a have transfer request now to accept.

[2015-04-08 15:57] KateHodge commented on #106
@martinpengellyphillips thanks for creating this excellent project in the first place and maintaining it to begin with.
@atoha thanks for taking this on: it's a great project which I use on a couple of websites I work on so I'm glad to know it will keep going.

[2015-05-10 09:09] #102 closed

[2015-06-03 22:19] ylulloa opened #110 "http://martinpengellyphillips.github.io/dbootstrap/ does not work."
Blank page. http://screencast.com/t/otSduq8x

Failed to load resource: the server responded with a status of 404 (Not Found)
http://martinpengellyphillips.github.io/dbootstrap/dgrid/util/touch.js

Failed to load resource: the server responded with a status of 404 (Not Found)
http://martinpengellyphillips.github.io/dbootstrap/dgrid/TouchScroll.js

[2015-08-05 01:31] davewilton commented on #91
I looked to try and fork this project to create a bower register with bower, but without restructuring the source/dBootstrap folder into it's own project I don't think it's possible. Creating a bower project out of this git is going to download dojo with dbootstrap which we don't want. I also tried forking the project and changing the structure but that didn't work either (it still delivered all o

[2015-08-10 00:07] davewilton commented on #87
This would also allow bower delivery see https://github.com/atoha/dbootstrap/issues/91

[2015-11-25 18:52] slimmtl commented on #69
Any one try to do this and succeed?

[2018-02-27 11:46] #96 closed

[2018-10-01 09:07] soniascialanca opened #111 "dbootstrap does not work anymore with Chrome"
Hello, I have a couple of web apps developed some years ago with dbootstrap.
They are still public at the moment, but I have just discovered that with the version of Chrome 69.0.3497.100 (64 bit) dbootstrap no longer works.
Does anyone really intend to keep this project or do I have to throw everything and start all over again?
Thank you.

[2018-10-01 09:36] #111 closed

[2018-11-15 03:41] bledari commented on #103
I guess this can be closed. Worked for me!

[2021-06-17 18:45] #87 closed